<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Josh Darling</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.1.0/darkly/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-md">
            <div class="container-fluid"><a class="navbar-brand" href="index.html">Josh</a>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="index.html">Home</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="about.html">About</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="gallery.html">Gallery</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div data-bs-parallax-bg="true" style="height:500px;background-image:url(heart.jpg);background-position:center;background-size:cover;">
       
    </div>
    <div class="container">
        <aside></aside>
    </div>
    <div class="article-list">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Welcome</h2>
                <p class="text-center">Welcome to humble beginings,the dream is a "Full Stack Developer" and "Cyber Security Expert". But for now, we're starting small. </p>
            </div>
            <div class="row articles">
                <div class="col-sm-6 col-md-4 item"><a href="about.html"><img src="assets/img/me.jpg" class="img-fluid" /></a>
                    <h3 class="name">About Me</h3>
                    <p class="description">I'm a Self-Taught Developer. Started coding in 2015 and took a long break. I'm back at it again in 2019, starting all afresh and aiming for the full stack.</p><a href="about.html" class="action"><i class="fa fa-arrow-circle-right"></i></a></div>
                <div
                    class="col-sm-6 col-md-4 item"><a href="gallery.html"><img src="assets/img/building.jpg" class="img-fluid" /></a>
                    <h3 class="name">Gallery</h3>
                    <p class="description">Come inside, get to know me more. This is my life in pictures,ranging from personal life to social life. Have fun exploring and don't forget to come back for more.<br></p><a href="gallery.html" class="action"><i class="fa fa-arrow-circle-right"></i></a></div>
            <div
                class="col-sm-6 col-md-4 item"><a href="contact.html"><img class="img-fluid" src="assets/img/loft.jpg"></a>
                <h3 class="name">Contact Me</h3>
                <p class="description">Get in touch if you ever need a page or website for your business or personal needs. You can also conect with me if you need a friend or a coding partner.</p><a href="contact.html" class="action"><i class="fa fa-arrow-circle-right"></i></a></div>
    </div>
    </div>
    </div>
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="facebook.com/jkyereh"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="index.html">Home</a></li>
                <li class="list-inline-item"><a href="about.html">About</a></li>
                <li class="list-inline-item"><a href="gallery.html">Gallery</a></li>
                <li class="list-inline-item"><a href="contact.html">Contact</a></li>
            </ul>
            <p class="copyright">®jkyereh ©2019</p>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>